.alert {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding-left: 15px;
	margin-top: 130px;
	color: #fff;
	text-align: center;
	font: 700 20px "Be Vietnam Pro", sans-serif;
	border-radius: 15px;
	border: 1px solid #b19b5f;
	background: rgba(0, 0, 0, 0.2);
	width: 707px;
	height: 75px;
}
.container {
	width: 702px;
	height: 753px;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.33);
	margin-top: 64px;
	caret-color: transparent;
}
.title {
	color: #fff;
	font: 700 20px "Be Vietnam Pro", sans-serif;
	padding: 37px 0 0 35px;
}
.input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 35px;
	color: #fff;
	font: 500 18px "Poppins", sans-serif;
}
.input {
	width: 378px;
	height: 55px;
	flex-shrink: 0;
	background-color: rgba(0, 0, 0, 0.19);
	stroke-width: 1px;
	stroke: #878787;
}
.save-button {
	width: 125px;
	height: 45px;
	flex-shrink: 0;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	background: rgba(88, 88, 88, 0.1);
	color: #fff;
	text-align: center;
	font: 700 20px "Poppins", sans-serif;
	margin-left: 35px;
}
