.no-custombots-warning-container {
	caret-color: transparent;
	width: 1215px;
	height: 76px;
	flex-shrink: 0;
	border-radius: 15px;
	border: 1px solid #5f5331;
	background: rgba(0, 0, 0, 0.2);
	margin-left: 370px;
	margin-top: 200px;
}
.container {
	caret-color: transparent;
	width: 1207px;
	height: 912px;
	flex-shrink: 0;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.33);
	box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
	margin-left: 370px;
	margin-top: 50px;
}
.title {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	margin-left: 30px;
	color: #fff;
	font-family: "Be Vietnam Pro";
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.subtitle {
	display: flex;
	flex-direction: column;
	color: #fff;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 70px;
	margin-left: 20px;
}
.description {
	display: flex;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.2);
	text-align: left;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 30px;
	text-wrap: nowrap;
	margin-left: 20px;
}
.token-input {
	margin-left: 10px;
	margin-top: 20px;
	width: 831px;
	height: 64px;
	flex-shrink: 0;
	fill: rgba(0, 0, 0, 0.19);
	stroke-width: 1px;
	stroke: #878787;
	border-radius: 10px;
}
.activity-input {
	margin-left: 10px;
	width: 827px;
	height: 64px;
	flex-shrink: 0;
	fill: rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	stroke-width: 1px;
	stroke: #878787;
}
.indicator {
	margin-left: 800px;
	margin-top: -70px;
}
.placeholderLogo {
	margin-top: 33px;
	margin-left: 20px;
	position: absolute;
}
.button {
	display: inline-flex;
	padding: 5px 44px 5px 40px;
	border-radius: 18px;
	border: 3px solid rgba(87, 242, 135, 0.62);
	background: rgba(0, 0, 0, 0.47);
	color: #fff;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin-top: 20px;
	margin-left: 20px;
}
.button:hover {
	background: rgb(36, 54, 32);
	transition: background 0.3s ease;
}
