.sidebar {
	color: white;
	width: 336px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 90px;
	background: rgba(0, 0, 0, 0.2);
}

.sidebarCategory {
	margin-bottom: 15px;
}

.categoryHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
	cursor: pointer;
}
.divider-vector {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 290px;
	background-color: rgba(255, 255, 255, 0.31);
	position: absolute;
	height: 1px;
	margin-top: -35px;
}
.categoryTitle {
	color: rgba(255, 255, 255, 0.6);
	font-family: Poppins, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.chevron {
	width: 16px;
	height: 16px;
	transition: transform 0.3s ease;
}

.chevron.expanded {
	transform: rotate(180deg);
}

.categoryContent {
	padding: 5px 0;
}

.sidebarItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
	margin: 2px 5px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	color: #fff;
	font: normal 500 14px / normal Poppins, sans-serif;
}

.sidebarItem:hover {
	background: rgba(0, 0, 0, 0.35);
	border-left: 5px solid #275ee7;
	border-radius: 0px 20px 20px 0px;
	transition: background-color 0.5s ease, border-left-color 0.5s ease;
}
.sidebarItem.active {
	background: rgba(0, 0, 0, 0.35);
	border-left: 5px solid #275ee7;
	border-radius: 0px 20px 20px 0px;
}

.itemContent {
	display: flex;
	align-items: center;
}

.sidebarIcon {
	width: 20px;
	height: 20px;
	margin-right: 12px;
	transform: translateX(0);
}

.sidebarText {
	font-size: 14px;
	font-weight: 500;
	transition: transform 0.5s ease;
	transform: translateX(0);
}

.sidebarItem:hover .sidebarText,
.sidebarIcon {
	transform: translateX(5px);
}

.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.knob {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #363a45;
	transition: .4s;
	border-radius: 34px;
}

.knob:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .knob {
	background-color: #2979ff;
}

input:checked + .knob:before {
	transform: translateX(16px);
}
