.sidebar {
	width: 315px;
	height: calc(100vh - 65px);
	padding: 10px;
	position: fixed;
	top: 125px;
	left: 0;
	z-index: 1;
}

.sidebarItem,
.sidebarItem.active img {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.sidebar button {
	background: none;
	border: none;
}


.sidebarItem.active {
	border-radius: 0px 20px 20px 0px;
	border-left: 5px solid rgba(39, 94, 231, 1);
	background: rgba(0, 0, 0, 0.35);
	width: 315px;
	height: 67px;
	color: white;

}

.sidebarItem {

	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	color: #a3a3a3;
	width: 315px;
	height: 67px;
	font-size: 20px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	border-radius: 15px;
	transition: background-color 0.3s;
}
.sidebarItem:hover {
	border-radius: 0px 20px 20px 0px;
	border-left: 5px solid rgba(39, 94, 231, 1);
	background: rgba(0, 0, 0, 0.24);
	transition: background-color 0.3s ease-in-out;
}
.sidebarItemText {
	margin-left: 15px;
	font-family: "Noto Sans", sans-serif;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}