.sidebar {
	width: 315px;
	height: 800px;
	border-right: 2px solid rgba(255, 255, 255, 0.1);
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 10px;
	position: absolute;
}
.sidebarItem img {
	width: 60px;
	height: 30px;
	margin-right: 10px;
	vertical-align: middle;
	color: white;
}

.sidebarItem.active img {
	border-radius: 20px;
	padding: 13px;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.24);
	margin-top: -5px;
	margin-left: 5px;
	width: 30px;
	height: 30px;
}

.sidebar button {
	background: none;
	border: none;
}

.sidebarItem.active {
	background: rgba(0, 0, 0, 0.24);
	border-radius: 15px;
	position: relative;
	width: 315px;
	height: 67px;
	color: white;
}

.sidebarItem {
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	color: #a3a3a3;
	width: 315px;
	height: 67px;
	font-size: 24px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	padding: 10px 15px;
	margin-right: 10px;
	border-radius: 15px;
	transition: background-color 0.3s;
}
.sidebarItemText {
	font-family: "Noto Sans", sans-serif;
	margin-left: 10px;
	margin-top: 5px;
}
.sidebarIcon {
	margin-top: 5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}
