@keyframes skeleton-loading {
	0% {
		background-color: #e0e0e0;
	}
	100% {
		background-color: #c0c0c0;
	}
}
.skeleton {
	animation: skeleton-loading 1.5s infinite alternate;
}
nav {
	caret-color: transparent;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	z-index: 1000;
}
.navTitle {
	color: #FFF;
	font-family: Poppins, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 10px;
	margin-top: 20px;
}
.version-container {
	display: flex;
	flex-direction: row;
	width: 60px;
	height: 26px;
	border-radius: 3px;
	background: #3E6BFF;
	margin-left: 8px;
	margin-top: -5px;
}
.version {
	color: #FFF;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
.guild-chooser {
	padding-right: 20px;
	width: fit-content;
	max-width: 541px;
	min-width: 150px;
	height: 68px;
	margin-left: 20px;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.30);
	z-index: 1000;
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
}
.current-guild-name {
	color: #FFF;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

}
.guildIcon {
	width: 35px;
	height: 35px;
	border-radius: 31px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.navRight {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 20px;
}

.navItem {
	font-family: "Noto Sans", sans-serif;
	font-weight: 1000;
	color: #a3a3a3;
	font-size: 24px;
	padding: 17px;
}
.navItemSelect {
	font-family: "Noto Sans", sans-serif;
	font-weight: 1000;
	color: white;
	font-size: 24px;
}

.botIcon {
	background-size: cover;
	background-position: center;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	margin-top: -4px;
	transition: transform 0.3s ease;
}
.guildIconContainer {
	position: relative;
	display: inline-block;
}

.guildNameTooltip {
	width: 100px;
	background-color: #00000033;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 3px 7px;
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: 60px;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

.guildIconContainer:hover .guildNameTooltip {
	visibility: visible;
	opacity: 1;
}
.selectContainer {
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.19);
	width: 185px;
	height: 56px;
	flex-shrink: 0;
	margin-right: 30px;
}

.selectInput {
	border: none;
	background: transparent;
	cursor: pointer;
	caret-color: transparent;
}
.select-indicator {
	margin-left: 150px;
	margin-top: -60px;
}