@keyframes skeleton-loading {
	0% {
		background-color: #e0e0e0;
	}
	100% {
		background-color: #c0c0c0;
	}
}
.skeleton {
	animation: skeleton-loading 1.5s infinite alternate;
}
nav {
	caret-color: transparent;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, #1e2230, rgb(29, 33, 44) 100%);
}

.navTitle {
	color: #FFF;
	font-family: Poppins, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 10px;
	margin-top: 20px;
}
.version-container {
	display: flex;
	flex-direction: row;
	width: 60px;
	height: 26px;
	border-radius: 3px;
	background: #3E6BFF;
	margin-left: 8px;
	margin-top: -5px;
}
.version {
	color: #FFF;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
.guild-chooser {
	width: auto;
	max-width: 355px;
	min-width: 150px;
	height: 55px;
	margin-left: 20px;
	border-radius: 15px;
	background: #0000004C;
	z-index: 1000;
}
.current-guild-name {
	color: #FFF;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	margin-top: -30px;

}
.guildIcon {
	width: 31px;
	height: 31px;
	border-radius: 31px;
	margin-top: 12px;
	margin-right: 100px;
}
.navRight {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 20px;
}

.navItem {
	font-family: "Noto Sans", sans-serif;
	font-weight: 1000;
	color: #a3a3a3;
	font-size: 24px;
	padding: 17px;
}
.navItemSelect {
	font-family: "Noto Sans", sans-serif;
	font-weight: 1000;
	color: white;
	font-size: 24px;
}
.guildsList {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	border-radius: 12px;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	width: auto;
	height: 68px;
	margin-left: 140px;
	padding: 15px;
	box-sizing: border-box;
}

.botIcon {
	background-size: cover;
	background-position: center;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	margin-top: -4px;
	transition: transform 0.3s ease;
}

.guildIcon:hover {
	transform: scale(1.2);
}
.guildIconContainer {
	position: relative;
	display: inline-block;
}

.guildNameTooltip {
	width: 100px;
	background-color: #00000033;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 3px 7px;
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: 60px;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

.guildIconContainer:hover .guildNameTooltip {
	visibility: visible;
	opacity: 1;
}
.guildIcon:hover {
	cursor: pointer;
}
@keyframes loading {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
.loading {
	position: relative;
	background-color: rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.loading::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	background: linear-gradient(
		90deg,
		transparent,
		rgba(134, 134, 134, 0.2),
		transparent
	);

	animation: loading 0.8s infinite;
}
.selectContainer {
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.19);
	width: 185px;
	height: 56px;
	flex-shrink: 0;
	margin-right: 30px;
}

.selectInput {
	border: none;
	background: transparent;
	cursor: pointer;
	caret-color: transparent;
}
.select-indicator {
	margin-left: 150px;
	margin-top: -60px;
}