@keyframes skeleton-loading {
	0% {
		background-color: #e0e0e0;
	}
	100% {
		background-color: #c0c0c0;
	}
}

.skeleton {
	animation: skeleton-loading 1.5s infinite alternate;
}
nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	width: 100%;
	padding: 10px;
	top: 0;
}

.navTitle {
	font-family: "Be Vietnam Pro", sans-serif;
	color: white;
	font-weight: 1000;
	font-size: 25px;
	padding: 10px;
	overflow: hidden;
	margin-left: 3px;
}

.navRight {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.navItem {
	font-family: "Noto Sans", sans-serif;
	font-weight: 1000;
	color: #a3a3a3;
	font-weight: 500;
	font-size: 24px;
	padding: 17px;
}

.guildsList {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;
}

.guildIcon {
	background-size: cover;
	background-position: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0;
}
@keyframes loading {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
.loading {
	position: relative;
	background-color: rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.loading::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(transparent),
		color-stop(rgba(146, 146, 146, 0.2)),
		to(transparent)
	);

	background: linear-gradient(
		90deg,
		transparent,
		rgba(134, 134, 134, 0.2),
		transparent
	);

	animation: loading 0.8s infinite;
}
