
.custombot {
	margin-top: 10%;
	display: flex;
	width: 465.928px;
	height: 104.282px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(14, 14, 14, 0.17);
	margin-left: 20%;
}
.botName {
	color: #fff;
	font: 700 32px "Be Vietnam Pro", normal;
	line-height: normal;
	margin: 10px 0 0 25%;
	text-wrap: nowrap;
}
.botStatus {
	color: #2dc660;
	font: 700 24px "Be Vietnam Pro", normal;
	line-height: normal;
	margin-top: 5px;
}
.botDetails {
	display: flex;
	width: 465.928px;
	height: 222.288px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(14, 14, 14, 0.17);
	margin-left: 47%;
}
.botDetails h1 {
	color: #d7d7d7;
	text-align: center;
	font: 700 20px "Be Vietnam Pro", normal;
	line-height: normal;
	margin-left: 20px;
	text-wrap: nowrap;
}
.botDetails p {
	flex-shrink: 0;
	color: #fff;
	font: 400 20px "ABC Ginto Normal Unlicensed Trial", normal;
	line-height: normal;
	position: absolute;
	margin: 70px 0 0 25px;
}
.botIcon {
	width: 79px;
	height: 79px;
	flex-shrink: 0;
	border-radius: 15px;
	position: absolute;
	margin: 13px 0 0 15px;
}
.radioNotFoundIcon {
	width: 70px;
	height: 70px;
	flex-shrink: 0;
	border-radius: 15px;
	position: absolute;
	margin: 13px 0 0 15px;
}
.radioNotFoundText {
	color: #fff;
	font-family: Poppins;
	font-size: 22px;
	margin-left: 15%;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	word-break: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	max-width: 25%;
	margin-top: 3%;
}
.radioStatus {
	width: 634.707px;
	height: 104.282px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	flex-shrink: 0;
	margin-left: 50%;
}
.botAboutMe {
	width: 465.928px;
	height: 222.288px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	margin-left: 20%;
	margin-top: 30px;
}
.botAboutMeBoxTitle {
	padding: 20px;
	color: #d7d7d7;
	font-family: "Be Vietnam Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.botAboutMeText {
	margin-left: 20px;
	width: 372.48px;
	height: 97.255px;
	flex-shrink: 0;
	color: #fff;
	font-family: "ABC Ginto Normal Unlicensed Trial";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.custombotRadioSettings {
	width: 635.427px;
	height: 298.597px;
	transform: rotate(0.254deg);
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	margin-left: 51%;
	margin-top: -11.3%;
}
.custombotChatbotSettings {
	width: 1214.309px;
	height: 542.889px;
	transform: rotate(0.254deg);
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	margin-top: 2%;
	margin-left: 20%;
}
.custombotVoiceChannelSetting {
	position: absolute;
	margin-top: 1%;
	margin-left: 5%;
}
.custombotVoiceChannelSettingTitle {
	position: relative;
	margin-right: 65%;
	text-wrap: nowrap;
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.custombotStationChannelSetting {
	position: absolute;
	margin-top: 18%;
	margin-left: 5%;
}
.custombotStationChannelSettingTitle {
	position: relative;
	margin-right: 81%;
	text-wrap: nowrap;
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
