.containers {
	display: block;
	position: relative
}
.custombot {
	display: flex;
	width: 819.874px;
	height: 104.282px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(14, 14, 14, 0.17);
	margin-left: 370px;
	margin-top: 10%;
	position: relative;
	transition: background-color 0.3s ease;
}
.red {
    color: red !important;
}
.green {
    color: green !important;
}
.custombot:hover {
	background: rgba(39, 94, 231, 0.2);
}
.custombot-status-name {
	color: #fff;
	font: 700 32px "Be Vietnam Pro", normal;
	line-height: normal;
	margin: 10px 0 0 13%;
	text-wrap: nowrap;
}
.custombot-status-type {
	color: rgba(255, 255, 255, 0.2);
	font: 700 24px "Be Vietnam Pro", normal;
	line-height: normal;
	margin-top: 5px;
}
.custombot-about-me-box {
	position: relative;
	width: 819.508px;
	height: 222.288px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	margin-left: 370px;
}
.custombot-about-me-box-title {
	color: #bdbdbd;
	padding-top: 20px;
	margin-left: 30px;
	font: 700 20px "Be Vietnam Pro", normal;
	line-height: normal;
	caret-color: transparent;
}
.custombot-about-me-box-rpc-description {
	margin-left: 20px;
	width: 372.48px;
	height: 97.255px;
	flex-shrink: 0;
	margin-left: 26px;
	color: #fff;
	font-family: "Be Vietnam Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	caret-color: transparent;
}
.botDetails {
	display: flex;
	width: 465.928px;
	height: 222.288px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(14, 14, 14, 0.17);
	margin-left: 47%;
}
.botDetails h1 {
	color: #d7d7d7;
	text-align: center;
	font: 700 20px "Be Vietnam Pro", normal;
	line-height: normal;
	margin-left: 20px;
	text-wrap: nowrap;
}
.botDetails p {
	flex-shrink: 0;
	color: #fff;
	font: 400 20px "Be Vietnam Pro", normal;
	line-height: normal;
	position: absolute;
	margin: 70px 0 0 25px;
}
.botIcon {
	width: 79px;
	height: 79px;
	flex-shrink: 0;
	border-radius: 15px;
	position: absolute;
	margin: 13px 0 0 15px;
}
.indicator {
	width: 42.536px;
height: 22.963px;
flex-shrink: 0;
position: relative;
margin-left: 400px;
caret-color: transparent;
}
.rotate {
	transform: rotate(180deg);
}
.dropdownOptions {
    z-index: 1000;
    position: absolute;
    top: 110%; 
    left: 0;
    background-color: black; 
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;	
}

.dropdownOptions ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.dropdownOptions li {
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdownOptions li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}