.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-left: 20%;
}

.featureRectangle {
    position: relative;
    width: 440px;
    height: 325px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.imgCircle {
    border-radius: 115px;
    background: rgba(113, 113, 113, 0.33);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
	margin-bottom: 45%;
}
.featureRectangle img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.featureRectangle button {
	width: 198px;
	height: 39px;
	flex-shrink: 0;
	border-radius: 14px;
	border: 2px solid #51683E;
	background: rgba(0, 0, 0, 0.20);
	margin-top: 50%;
	margin-right: 30%;
	color: white;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	padding-right: 37%;
}
.featureText {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 20px;
}

.textContainer {
    display: flex;
    flex-direction: column;
	margin-bottom: 5%;
}

.featureSubtext {
    color: #fff;
    font-family: "Be Vietnam Pro";
    font-size: 20px;
    font-weight: 400;
    overflow-wrap: anywhere;
    word-break: break-word;
    margin-right: 20px;

}

.featureRectangle:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}