.container-title {
	color: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	font: 700 36px/normal Poppins;
	margin-left: 360px;
}
.title-vector {
	position: relative;
}
.containerSubtitle {
	color: #fff;
	position: absolute;
	font: 400 36px/normal Poppins;
	margin: 35px 0 0 42px;
	caret-color: transparent;
}
.settingsContainer {
	display: flex;
	width: 957.506px;
	height: 418.286px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	margin: 120px 0 0 350px;
}
.option-title {
	display: flex;
	flex-direction: column;
	color: #949ba4;
	text-align: left;
	font: 400 24px/normal Poppins;
	margin: 20px 0;
}
.search-input {
	width: 870.971px;
	height: 68.107px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(1, 1, 1, 0.4);
	margin-top: 10px;
}
.search-indicator {
	margin: -100px 0 0 830px;
}
.settingContainer {
	display: flex;
	flex-direction: column;
	margin-top: 20%;
}
