.optionsWrapper {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	margin-top: 5px;
	z-index: 1001;
}

.options {
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
	gap: 3px;
	width: max-content;
	text-wrap: nowrap;
	border-radius: 15px;
	z-index: 100000;
	caret-color: transparent;
	cursor: pointer;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	animation: dropdownOpen 0.3s forwards;
}
.select {
	width: fit-content;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.19);
	justify-content: space-between;
	height: 56px;
	gap: 10px;
	color: #667398;
	font: normal 500 20px / normal "Be Vietnam Pro", sans-serif;
	margin-right: 30px;
	padding-right: 10px;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	caret-color: transparent;
	width: fit-content;
	height: 56px;
	background: none;
	border: none;
	outline: none;
}
.searchInput {
	width: fit-content;
	height: 42px;
	background: none;
	border-radius: 10px;
	outline: none;
	color: #667398;
	font: normal 500 20px / normal "Be Vietnam Pro", sans-serif;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(32, 32, 32, 0.1);
	align-items: center;
	justify-content: space-between;
	caret-color: transparent;
}
.placeholder-text {
	width: max-content;
	color: #667398;
	font: normal 500 20px / normal "Be Vietnam Pro", sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: none;
	border-radius: 10px;
	outline: none;
	transition: all 0.3s ease-in-out;
}
.option {
	z-index: 100000;
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: white;
	padding: 10px;
	border-radius: 7px;
	cursor: pointer;
	caret-color: transparent;
	width: 100%;
}
.option:hover {
	z-index: 100000;
	padding: 10px;
	border-radius: 7px;
	background-color: rgba(95, 135, 234);
	transition: 0.2s;
}

.rotate {
	transform: rotate(180deg);
}

.on {
	transform: translateX(15px);
}

.off {
	transform: translateX(3px);
}

.logo {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	border-radius: 50px;
}

.multiInput {
	color: #667398;
	font: normal 500 20px / normal "Be Vietnam Pro", sans-serif;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 8px;
	border-radius: 10px;
	background: rgba(32, 32, 32, 0.1);
	width: 303px;
	border: 1px solid #8e8e8e;
	outline: none;
	min-height: 42px;
	max-height: 67px;
}
.multiInput:focus-within {
	outline: 2px solid rgba(95, 135, 234, 0.8);
}
.selectedTagsContainer {
	display: grid;
	grid-template-columns: 4fr 1fr;
	overflow-y: auto;
	max-height: 160px;
	gap: 4px;
	align-items: center;
	z-index: 1000;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	z-index: 1000;
}

.tag {
	width: 76px;
	height: 22px;
	background-color: rgba(2, 2, 2, 0.3);
	border-radius: 4px;
	padding: 2px 8px;
	margin-right: 4px;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.multiValue {
	color: #5f87ea;
	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-wrap: nowrap;
}

.removeTag {
	background: none;
	border: none;
	cursor: pointer;
	margin-left: 4px;
	font-size: 14px;
	line-height: 1;
	padding: 0 4px;
	color: white;
}
input:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: none;
}
.multiOptions {
	position: absolute;
	top: calc(100% + 5px);
	margin-top: 20px;
	left: 0;
	right: 0;
	background-color: rgb(0, 0, 0);
	padding: 10px;
	border-radius: 15px;
	caret-color: transparent;
	cursor: pointer;
	z-index: 100001;
	max-height: 200px;
	width: 100%;
	height: 22px;
	box-shadow: 0 4px 8px rgba(0, 0, 0);
	outline: none;
}

.multiOption {
	position: relative;
	background-color: rgba(0, 0, 0);
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 12px;
	margin-bottom: 4px;
	cursor: pointer;
	caret-color: transparent;
	border-radius: 5px;
	color: white;
	transition: background-color 0.2s;
}

.multiOption:hover {
	background-color: rgba(95, 135, 234);
}

.selected {
	background-color: rgba(0, 0, 0, 0.31);
	color: #5f87ea;
}

@keyframes dropdownOpen {
	from {
		opacity: 0;
		transform: scaleY(0.8);
	}
	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

.multiOptions {
	animation: dropdownOpen 0.2s forwards;
	transform-origin: top;
}
.input {
	color: #667398;
	font: normal 500 20px / normal "Be Vietnam Pro", sans-serif;
	caret-color: transparent;
	display: flex;
	flex-direction: row;
	width: max-content;
	height: 42px;
	transform: rotate(0.254deg);
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(32, 32, 32, 0.1);

	flex-shrink: 0;
	border-radius: 10px;
}
.input:focus {
	outline: 2px solid rgba(95, 135, 234, 0.8);
}
.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.knob {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #363a45;
	transition: .4s;
	border-radius: 34px;
}

.knob:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .knob {
	background-color: #2979ff;
}

input:checked + .knob:before {
	transform: translateX(16px);
}
