.selectInput {
	border-radius: 10px;
	background: rgba(32, 32, 32, 0.2);
	width: 303.96px;
	height: 42.653px;
	flex-shrink: 0;
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	appearance: none;
	z-index: 1000;
	position: relative;
}

.options {
	position: absolute;
	background-color: rgb(0, 0, 0);
	padding: 10px;
	width: auto;
	text-wrap: nowrap;
	margin-top: 30px;
	border-radius: 15px;
	z-index: 1000;
	caret-color: transparent;
	cursor: pointer;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	animation: dropdownOpen 0.3s forwards;
	z-index: 9999;
}

@keyframes dropdownOpen {
	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

.option {
	z-index: 1000;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 500;
	padding: 5px 0;
	cursor: pointer;
	caret-color: transparent;
}
.logo {
	position: absolute;
	top: 38%;
	margin-left: 8px;
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	border-radius: 50px;
}
.withLogo {
	padding-left: 53px;
}
.rotate {
	transform: rotate(180deg);
}