.tabs-container {
	display: flex;
	flex-direction: row;
	gap: 15px;
	width: 590px;
	height: 32px;
	flex-shrink: 0;
	border-radius: 5px;
	margin-left: 40px;
	margin-top: 30px;
}
.active-tab {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #fff;
	font: 700 16px "Be Vietnam Pro", sans-serif;
	width: auto;
	height: 32px;
	text-wrap: nowrap;
	flex-shrink: 0;
	border-radius: 5px;
	background-color: #275ee7;
	padding: 17px;
	transition: all 0.3s ease;
}
.inactive-tab {
	text-wrap: nowrap;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	height: 32px;
	flex-shrink: 0;
	color: #fff;
	padding: 17px;
	font: 700 16px "Be Vietnam Pro", sans-serif;
	transition: all 0.3s ease;
	position: relative;
}
.inactive-tab::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: all 0.3s ease;
	transform: translateX(-50%);
}

.inactive-tab:hover::after {
	width: 70%;
}
.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
}
.settingsAndTableContainer {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-top: 28px;
	align-items: flex-start;
}
.settingsContainer {
	flex: 0 0 auto;
}
.tableContainer {
	flex: 1;
}
.table {
	width: 985px;
	border-collapse: separate;
	border-spacing: 0;
	caret-color: transparent;
	table-layout: fixed;
	background: rgba(0, 0, 0, 0.31);
	border: 1px solid rgba(255, 255, 255, 0.19);
	border-radius: 25px;
	overflow: hidden;
}

.table thead {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(0, 0, 0, 0.5);
}

.table th,
.table td {
	padding: 13px 16px;

	color: #fff;
	vertical-align: middle;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tableHeader {
	border-radius: 5px 5px 0px 0px;

	font-weight: 700;
	font-size: 14px;
	font-family: "Be Vietnam Pro", sans-serif;
}

.tableRow {
	display: table-row;
}

.userInfo {
	display: flex;
	align-items: center;
	gap: 12px;
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.author {
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	font-family: "Be Vietnam Pro", sans-serif;
}

.reply {
	color: #fff;
	font-size: 14px;
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 400;
	white-space: normal;
	word-wrap: break-word;
	text-wrap: wrap;
}

.actionButtons {
	display: flex;
	gap: 12px;
	justify-content: center;
	align-items: center;
}

.listItemActionButton {
	background: none;
	border: none;
	padding: 0;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.commandSettingBox {
	width: 146px;
	height: 107px;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.commandSettingsContainer {
	display: grid;
	grid-template-columns: repeat(2, 146px);
	grid-gap: 26px;
	margin-left: 26px;
}
.commandSettingBox {
	padding-top: 13px;
	padding-left: 13px;
	width: 146px;
	height: 107px;
	color: #fff;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.payout-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-top: 150px;
	width: 313px;
	height: 149px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	padding: 15px;
	color: #fff;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.commandSettingInput {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	background: rgba(1, 1, 1, 0.2);
	width: 101px;
	height: 35px;
	flex-shrink: 0;
}
.inputs-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 5px;
	margin-top: 10px;
}
.payoutInputContainer:first-child {
	margin-right: 5px;
}
