body {
	background: linear-gradient(to top, #1e2230, #0f1117);
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
button {
	background-color: #4caf50;
	color: #ffffff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}
.guilds-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
}
.guild {
	background-color: #2c2f3e;
	border-radius: 10px;
	padding: 20px;
}
.guild:hover {
	background-color: #2744d3;
	transition: background-color 0.5s;
}
