.tabs-container {
	width: 1368px;
	height: 64px;
	flex-shrink: 0;
	border-bottom: 1px solid #5e5e5e;
	display: flex;
	gap: 50px;
	margin-top: 50px;
	position: relative;
}
.active-tab {
	display: flex;
	flex-direction: row;
	position: relative;
	color: #fff;
	text-align: center;
	font: normal 400 32px Poppins;
	line-height: normal;
	border-bottom: 4px solid #ffff;
}
.inactive-tab {
	display: flex;
	flex-direction: row;
	position: relative;
	color: #fff;
	text-align: center;
	font: normal 400 32px Poppins;
	line-height: normal;
}
.tabContent {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 50px;
}
.chatbot-tab-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
	position: relative;
	width: 100%;
	height: auto;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	padding: 20px;
}
.chatbot-tab-content > .column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.chatbot-tab-content-title {
	color: #bdbdbd;
	margin-left: 25px;
	text-wrap: nowrap;
	font: normal 700 20px "Be Vietnam Pro";
	display: flex;
	flex-direction: column;
	position: relative;
	line-height: normal;
}
.chatbot-setting-box {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	margin-top: 25px;
	caret-color: transparent;
	width: 375.836px;
	height: 118.629px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 2px solid #474747;
}
.chatbot-setting-box-content {
	padding: 10px;
	margin-top: -5%;
	margin-left: 1%;
}
.chatbot-setting-box-title {
	margin-left: 20px;
	z-index: 1000;
	color: #fff;
	font: normal 700 16px "Be Vietnam Pro";
	line-height: normal;
}
.inputContainer {
	width: 303.96px;
	height: 42.653px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 1px solid #8e8e8e;
	background: rgba(32, 32, 32, 0.1);
}
.indicator {
	margin-left: 270px;
	margin-top: -70px;
}
.select-container {
	margin-left: 5px;
}
.slider-container {
	z-index: 1000;
	display: flex;
	flex-direction: column;
}
.slider-input-container {
	margin-top: -30px;
	margin-left: 239px;
	width: 84px;
	height: 34px;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.14);
	position: absolute;
	z-index: 1000;
}
.slider-range-container {
	margin-left: 5px;
}
