.customBotsList {
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.customBotCard {
	border-radius: 10px;
	padding: 16px;
	width: 1270px;
	height: 87px;
	margin-left: 10%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.customBotCard div {
	margin-bottom: 25px;
}

.customBotIcon {
	width: 80px;
	height: 80px;
	border-radius: 12px;
	margin-right: 16px;
}

.customBotName {
	color: #fff;
	text-align: center;
	font: 800 25px / normal Poppins;
	display: flex;
	margin-bottom: 4px;
	white-space: nowrap;
}

.customBotStatus {
	color: #8d8d8d;
	text-align: center;
	font: 500 20px / normal "Be Vietnam Pro";
	display: flex;
	align-items: center;
	margin: 0;
}

.actionButtonIcon {
	width: 40px;
	height: 40px;
	object-fit: contain;
}

.actionButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 30px 0 63%;
	gap: 20px;
}

.actionButton {
	stroke-width: 1px;
	width: 65px;
	height: 65px;
	background-color: rgba(74, 70, 70, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

.addCustomBot {
	width: 347px;
	height: 63px;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 10% 0 0 45%;
}

.addCustomBotText {
	font: 24px "Be Vietnam", sans-serif;
	color: white;
	margin: -5px 0 0 20px;
}

.addCustomBotButton {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.addCustomBotIcon {
	margin: 0 0 5px 10px;
}

.blurBackground {
	filter: blur(5px);
}
