.customBotsList {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.customBotCard {
	border-radius: 10px;
	padding: 16px;
	width: 1270px;
	height: 120px;
	margin-left: 10%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.customBotCard div {
	margin-bottom: 25px;
}
.customBotIcon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 16px;
}

.customBotName {
    font-size: 24px;
    font-family: "Be Vietnam", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 4px; /* Dodaj ten margines */
}

.customBotStatus {
    font-size: 16px;
    font-family: "Be Vietnam", sans-serif;
    display: flex;
    align-items: center;
    color: gray;
    margin: 0; /* Usuń marginesy */
}