.tabs-container {
	width: 1368px;
	height: 64px;
	flex-shrink: 0;
	border-bottom: 1px solid #5e5e5e;
	margin-left: 20%;
	display: flex;
	gap: 50px;
	margin-top: 15%;
	position: absolute;
}
.active-tab {
	color: #fff;
	text-align: center;
	font: normal 400 32px Poppins;
	line-height: normal;
	border-bottom: 4px solid #ffff;
}
.inactive-tab {
	color: #fff;
	text-align: center;
	font: normal 400 32px Poppins;
	line-height: normal;
}
.tabContent {
	margin-top: 20%;
	margin-left: 20%;
	position: absolute;
}
.chatbot-tab-content {
	position: absolute;
	width: 1214.309px;
	height: 542.889px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}
.chatbot-tab-content-title {
	color: #bdbdbd;
	text-align: center;
	margin-right: 78%;
	text-wrap: nowrap;
	font: normal 700 20px "Be Vietnam Pro";
	line-height: normal;
}
.chatbot-setting-box {
	margin-top: 5%;
	margin-left: 3%;
	caret-color: transparent;
	width: 375.836px;
	height: 118.629px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 2px solid #474747;
}
.chatbot-setting-box-content {
	padding: 10px;
	margin-top: -5%;
	margin-left: 1%;
}
.chatbot-setting-box-title {
	margin-right: 70%;
	color: #fff;
	text-align: center;
	font: normal 700 16px "Be Vietnam Pro";
	line-height: normal;
}
.inputContainer {
	width: 303.96px;
height: 42.653px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #8E8E8E;

background: rgba(32, 32, 32, 0.10);
}