.tabs-container {
	width: 1368px;
	height: 64px;
	flex-shrink: 0;
	border-bottom: 1px solid #5e5e5e;
	background: rgba(0, 0, 0, 0.0);
	margin-left: 20%;
	display: flex;
	gap: 50px;
	margin-top: 15%;
	position: absolute;
}
.active-tab {
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-bottom: 4px solid #ffff;
}
.inactive-tab {
	color: #fff;
	text-align: center;
	font: normal 400 32px Poppins;
	line-height: normal;
}
.tabContent {
	margin-top: 20%;
	margin-left: 20%;
	position: absolute;
}
.chatbot-tab-content {
	position: absolute;
	width: 1214.309px;
	height: 542.889px;
	flex-shrink: 0;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}
.chatbot-tab-content-channel-select-box {
	caret-color: transparent;
	width: 375.836px;
	height: 118.629px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 2px solid #474747;
	background: rgba(0, 0, 0, 0.1);
}
.chatbot-channel-select-input {
	padding: 10px;
	margin-top: 5%;
}
