@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.underlineVector {
    width: 0;
    height: 4px;
    background-color: #275EE7;
    flex-shrink: 0;
    animation: slide 0.5s ease forwards;
}
.greetings-and-farewell {
    display: flex;
    flex-direction: column;
    caret-color: transparent;
    position: absolute;
    color: #FFF;
    font: 700 20px/normal "Be Vietnam Pro";
    margin-top: 152px;
    margin-left: 362px;
}
.permissions {
    display: flex;
    flex-direction: column;
    caret-color: transparent;
    position: absolute;
    color: #FFF;
    font: 700 20px/normal "Be Vietnam Pro";
    margin-left: 800px;
    margin-top: -115px;
}
.container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.setting {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: 800px;
    margin-top: -50px;
}
.setting-overlay {
    width: 375px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #474747;
    background: rgba(0, 0, 0, 0.20);
}
.overlay-title {
    margin-left: 18px;
    color: #FFF;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.select-container {
    caret-color: transparent;
    margin-left: 19px;
}

.input-container {
    height: 67px;
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: rotate(0.254deg);
    flex-shrink: 0;
    border: transparent;
    background-color: transparent;
    overflow-y: auto;
    margin-top: 70px;
    margin-left: -7px;
}
.indicator {
    caret-color: transparent;
    margin-top: -60px;
    margin-left: 255px;
}
.option-icon {
    width: 28.191px;
    height: 27px;
    position: absolute;
}