@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.underline-vector {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 4px;
    background-color: #275EE7;
    flex-shrink: 0;
    animation: slide 0.5s ease forwards;
}

.section-title {
    display: flex;
    flex-direction: column;
    width: max-content;
    color: #FFF;
    font: 700 20px/normal "Be Vietnam Pro", sans-serif;
}
.containers {
    display: flex;
    flex-direction: row;
    gap: 60px;

}
.additionals {
    display: flex;
    flex-direction: column;
    caret-color: transparent;
    position: absolute;
    color: #FFF;
    font: 700 20px/normal "Be Vietnam Pro";
    margin-left: 800px;
    margin-top: 340px;
}
.setting-overlay {
    width: 375px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #474747;
    background: rgba(0, 0, 0, 0.20);
}
.overlay-title {
    margin-left: 18px;
    color: #FFF;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.select-container {
    border: 1px solid #474747;
    caret-color: transparent;
    margin-left: 19px;
}

.input-container {
    height: 67px;
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: rotate(0.254deg);
    flex-shrink: 0;
    border: transparent;
    background-color: transparent;
    overflow-y: auto;
    margin-top: 70px;
    margin-left: -7px;
}
.option-icon {
    width: 28.191px;
    height: 27px;
    position: absolute;
}
.autoRoles {
    display: flex;
    flex-direction: column;
    caret-color: transparent;
    position: absolute;
    color: #FFF;
    font: 700 20px/normal "Be Vietnam Pro";
    margin-top: 441px;
}
.dangerous {
    caret-color: transparent;
    color: #FFF;
    font: 700 20px/normal "Be Vietnam Pro";
}
.alert-overlay {
    width: 368px;
    height: 62px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #D83C3C;
    background: rgba(0, 0, 0, 0.20);
}
.alert-text {
    color: #FFF;
    font: 700 16px/normal "Be Vietnam Pro", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 16px 0;
    caret-color: transparent;

}
.alert-text img {
    display: flex;
    flex-direction: row;
}
.white-divider {
    position: absolute;
    width: 399px;
    height: 1px;
    background-color: #F8F8F8;
    margin-top: 20px;
}
.button-containers {
    position: absolute;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    gap: 25px;
}
.action-button {
    display: inline-flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 3px solid rgba(175, 95, 66, 0.62);
    background: rgba(0, 0, 0, 0.47);
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;

}
.action-button:hover {
    background: rgba(245, 0, 0, 0.61);
    color: #000;
    border: 3px solid rgba(0, 0, 0, 0.62);
}