@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.underlineVector {
    width: 0;
    height: 4px;
    background-color: #275EE7;
    flex-shrink: 0;
    animation: slide 0.5s ease forwards;
}
.greetings-and-farewell {
    display: flex;
    flex-direction: column;
    caret-color: transparent;
    position: absolute;
    color: #FFF;
    font: 700 20px/normal "Be Vietnam Pro";
    margin-top: 152px;
    margin-left: 362px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}