.dropdownIcon {
	transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
	transform: rotate(0deg);
}

.dropdown-icon.rotate {
	transform: rotate(180deg);
}
.dropdown .react-select__control {
	max-height: 100px;
	overflow-y: auto;
}
.guildsSelectContainer {
	width: 550px;
	height: 191px;
	padding: 10px 15px;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 20px;
}
