.selectInput {
	border-radius: 10px;
	background: rgba(32, 32, 32, 0.2);
	width: 303.96px;
	height: 42.653px;
	flex-shrink: 0;
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding-left: 3%;
	appearance: none;
}
.options {
	position: absolute;
	background-color: rgb(0, 0, 0);
	padding: 10px;
	width: 28%;
	text-wrap: nowrap;
	margin-top: -2%;
	border-radius: 15px;
	z-index: 1000;
}

.option {
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 500;
	padding: 5px 0;
	cursor: pointer;
}
.inputContainer {
	position: relative;
	width: 100%;
}

.inputContainer img {
	position: absolute;
	top: 35%;
	transform: translateY(-50%);
}
