@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	background: linear-gradient(to bottom, #1e2230, #0f1117);
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	overflow-x: hidden;
}

.guilds-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}

.guilds-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.guild {
	color: white;
	background-color: rgba(217, 217, 217, 0.1);
	border-radius: 10px;
	padding: 20px;
	justify-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
	text-decoration: none;
	text-align: center;
	width: 220px;
	height: auto;
	display: flex;
	flex-direction: column; 
	align-items: center; 
}
.guild img {
	width: 170px;
	height: 170px;
}

.guild-name {
	margin-top: 10px;
}

.search-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #2c2f3e;
	border: 1px solid #000000;
}
.dropbtn {
	background-color: #101111a6;
	border: 1px solid #0048ff;
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	width: auto;
	height: 43px;
	border-radius: 5px;
	padding-left: 10px;
	text-align: left;
	position: relative;
	padding-right: 40px;
}
.dropbtn img {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
}
hr {
	border: 1px solid #464545;
}
.quick-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 40px;
	text-align: center;
}
.subtitle {
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 24px;
	margin-bottom: 50px;
	text-align: center;
}
.guild-name {
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 32px;
	font-weight: 700;
}

.guild-button img {
    width: 20px;
    height: 20px; 
    flex-shrink: 0;
    margin-right: 8px; 
}

.guild-button {
	width: 170px;
	height: 40px;
	flex-shrink: 0;
	margin-top: auto;
	background-color: #EBF2FF;
	color: #1974e6;
	text-align: center;
	font: 700 20px "Be Vietnam Pro", sans-serif;
}
