@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	background: linear-gradient(to top, #1e2230, #0f1117);
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	overflow-x: hidden;
}
.sign-out {
	background-color: #a82008;
	color: #ffffff;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	width: 10%;
	border-radius: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.sign-in-container button {
	background-color: #00ff0d;
	color: #0a0a0a;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	width: 8%;
	border-radius: 15px;
	display: block;
	margin: 20px auto;
	text-align: center;
	top: 40%;
	left: 20%;
	right: 20%;
	position: fixed;
}
.titles {
	font-family: "Be Vietnam Pro", sans-serif;
	color: white;
	text-align: center;
	position: relative;
	top: 20px;
}
.guilds-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}
.guilds-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.guild {
	color: white;
	background-color: #2c2f3e;
	border-radius: 10px;
	padding: 20px;
	justify-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
	text-decoration: none;
	text-align: center;
}

.guild:hover {
	text-decoration: none;
	background-color: #2744d3;
	transition: background-color 0.2s, box-shadow 0.3s ease-in-out;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.guild-name {
	margin-top: 10px;
}
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #1e2230;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #002a9ca6;
	border-radius: 10px;
	border: 3px solid #1e2230;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ff4500;
}

.search-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #2c2f3e;
	border: 1px solid #000000;
}
.dropbtn {
	background-color: #101111a6;
	border: 1px solid #0048ff;
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	width: auto;
	height: 43px;
	border-radius: 5px;
	padding-left: 10px;
	text-align: left;
	position: relative;
	padding-right: 40px;
}
.dropbtn img {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(16, 17, 17, 0.85);
	width: 185px;
	border: 1px solid #0048ff;
	border-radius: 10px;
	margin-top: 10px;
	z-index: 1;
	max-height: 300px;
	overflow-y: auto;
	overflow-wrap: break-word;
}
.dropdown-content div {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	white-space: nowrap;
}
.dropdown-content.show {
	display: block;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: rgba(16, 17, 17, 0.65);
}
nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-title {
	font-family: "Be Vietnam Pro", sans-serif;
	color: white;
	font-weight: 1000;
	font-size: 25px;
	padding: 17px;
	overflow: hidden;
	margin-left: 10px;
}
.nav-right {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.nav-item {
	font-family: "Noto Sans", sans-serif;
	font-weight: 1000;
	color: #a3a3a3;
	font-weight: 500;
	font-size: 24px;
	padding: 17px;
}
hr {
	border: 1px solid #464545;
}
.sidebar {
	width: 230px;
	border-right: 1px solid #464545;
	margin-right: 0;
	border-radius: 15px;
	position: fixed;
	height: 100%;
	overflow: auto;
	cursor: pointer;
}
.sidebar-item {
	font-family: "Noto Sans", sans-serif;
	font-weight: 1000;
	color: #a3a3a3;
	font-weight: 500;
	font-size: 24px;
	text-align: left;
	display: flex;
	align-items: left;
	justify-content: left;
	padding: 10px 15px;
	margin-left: 5px;
}
.sidebar button {
	background: none;
	border: none;
}
.quick-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sidebar-item img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	vertical-align: middle;
	color: white;
}

.sidebar button {
	background: none;
	border: none;
}
.sidebar-item.active {
	background: linear-gradient(to right, #000000 40%, transparent);
	border-left: 8px solid #0e2580;
	position: relative;
	width: 100%;
}
.view-panel {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    margin-top: -30px;
}

.view-panel .section_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
}

.view-panel .section_2 {
    display: flex;
    align-items: center;
    margin-right: 30%;
}

.guild-icon {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.user-avatar {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.hi-message {
    font-size: 24px;
    font-family: "Poppins";
    font-weight: bolder;
}

.view-panel-message-desc {
	margin-left: 10%;
    margin-top: -15px;
	font-size: 20px;
	font-family: "Poppins";
	color: #a3a3a3;
}

.section_2-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section_2-content p {
    margin: 0;
    padding: 0;
}