.beta-warning-overlay-icon {
	width: 935px;
	height: 40px;
	flex-shrink: 0;
	position: fixed;
	margin-left: -22.7%;
	margin-top: 25px;
	z-index: 1000;
}
.betaWarning {
	width: 100dvw;
	padding: 0;
	margin: 0;
}
	.beta-warning-overlay {
	height: 95px;
	border-radius: 15px;
	border: 1px solid #b19b5f;
	background: rgba(0, 0, 0, 0.2);
	margin-left: 376px;
	margin-top: 10%;
	display: inline-block;
	position: relative;
}
.beta-warning-overlay-text {
	word-break: break-word;
	display: inline-block;
	color: #fff;
	font-family: "Be Vietnam Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	white-space: nowrap;
	margin-top: 30px;
	position: relative;
	flex-shrink: 0;
	margin-left: 65px;
	padding-right: 20px;
}
.support-join-warning-icon {
	margin-left: -26.3%;
	width: 935px;
	height: 40px;
	flex-shrink: 0;
	margin-top: 5px;
	position: absolute;
}
.support-join-overlay {
	border-radius: 15px;
	border: 1px solid #587486;
	width: 959px;
	height: 95px;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.2);
	margin-left: 20%;
	margin-top: 40px;
}
.support-join-warning-text {
	color: #fff;
	font-family: "Be Vietnam Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-wrap: normal;
	max-width: 95%;
	overflow-wrap: break-word;
	display: flex;
	margin-top: 20px;
	margin-left: 65px;
}
