.beta-warning-overlay-icon {
	width: 988px;
	height: 40px;
	right: 45%;
	position: relative;
	margin-top: 15px;
	z-index: 100;
}
.support-join-warning-icon {
	width: 988px;
	height: 40px;
	right: 47%;
	top: 10px;
	position: relative;
	margin-top: 15px;
	z-index: 100;
}
.beta-warning-overlay {
	width: max-content;
	height: 67px;
	border-radius: 15px;
	border: 1px solid #b19b5f;
	background-color: rgba(0, 0, 0, 0.2);
	margin-left: 376px;
	margin-top: 10%;
	position: relative;
}
.support-join-overlay {
	width: 959px;
	border-radius: 15px;
	border: 1px solid #587486;
	height: 95px;
	background: rgba(0, 0, 0, 0.2);
	margin-left: 376px;
	margin-top: 40px;
	position: relative;
}

.beta-warning-overlay-text {
	word-break: break-word;
	color: #fff;
	font-family: "Be Vietnam Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	white-space: nowrap;
	position: relative;
	flex-shrink: 0;
	margin-top: -40px;
	margin-left: 80px;
	padding-right: 20px;
}
.support-join-warning-text {
	word-break: break-word;
	color: #fff;
	font-family: "Be Vietnam Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5; /* Zwiększenie odstępu między liniami */
	white-space: normal; /* Pozwala na zawijanie tekstu */
	position: relative;
	flex-shrink: 0;
	margin-top: -40px;
	margin-left: 80px; /* Zmniejszenie marginesu dla lepszego dopasowania */
	padding-right: 20px;
	max-width: 90%; /* Ograniczenie szerokości tekstu */
}
